:root{
    --main-bg-color: #5A189A;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    color: #fff;
    font-weight: bold;
}
a.nav-link{
    color: #fff;
    font-weight: bold;
    border-radius: 30px;


}
a.nav-link:hover{
    color: #4CC9F0;
    background-color: gray;
    border-radius: 30px;
}

.header{
    background: var(--main-bg-color);
}

.section1{
    padding: 5rem;
}
.section2{
    padding: 2rem;
}
.flip-box{
    transform-style: preserve-3d;
    
}
.flip-box-front,
.flip-box-back{
    background-size: cover ;
    background-position: center;
    border-radius: 30px;
    min-height: 800px;
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    backface-visibility: hidden;
    border: var(--main-bg-color);
    

}

.flip-box-front{
    transform: rotateY(0deg);
    transform-style: preserve-3d ;
}
.flip-box:hover .flip-box-front{
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}
.flip-box-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(180deg);
    transform-style: preserve-3d;

}
.flip-box:hover .flip-box-back{
    transform: rotate(0deg);
    transform-style: preserve-3d;
}
.flip-box .inner{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    perspective: inherit;
    transform: translateY(-50%) translateZ(60px) scale(.94);
    top: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.skills{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 3rem 0;
    justify-content: space-around;

}
.skills li{
    background: transparent;
    
}
.skills i {
    font-size: 10rem;
}


.progres{
    text-decoration: none;
    list-style: none;
}

li{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 1rem;
    
}
@media screen and (max-width:385px){
    .skills li{
        font-size: 0.7rem;
        

    }

}

#html{
    color: #E54C21;
}
#css{
    color: #214CE5;
}
#js{
    color: #F0DC4E;
}
#wordpress{
    color: #0077AA;
}
#bootstrap{
    color: #8A0AFC;
}
#java{
    color: rgba(225, 31, 33, 0.3);
    
}
#swift{
color: rgba(240, 80, 53, 0.3 );
}
#vuejs{
    color: #41B883;
}
#docker{
    color: rgba(15, 182, 236, 0.3);
}
#springboot{
    color: rgba(109, 179, 63, 0.3);
}
#mysql{
    color: rgba(0, 97, 138, 0.3);

}
#ts{
    color: rgba(45, 121, 199, 0.3);

}
#flutter{
    color: rgba(47, 184, 246, 0.3);

}

.dotted{
    color: #D0AB6F;
}
.skills{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 3rem 0;
    justify-content: space-around;

}
.skills li{
    background: transparent;
}
.skills i{
    font-size: 3rem;

}


.progres{
    text-decoration: none;
    list-style: none;
}

li{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
}

#html{
    color: #E54C21;
}
#css{
    color: #214CE5;
}
#js{
    color: #F0DC4E;
}
#wordpress{
    color: #0077AA;
}
#bootstrap{
    color: #8A0AFC;
}
#java{
    color: rgba(225, 31, 33);
    
}
#swift{
color: rgba(240, 80, 53);
}
#vuejs{
    color: #41B883;
}
#docker{
    color: rgba(15, 182, 236);
}
#springboot{
    color: rgba(109, 179, 63);
}
#mysql{
    color: rgba(0, 97, 138);

}
#ts{
    color: rgb(45, 121, 199);

}
#flutter{
    color: rgb(47, 184, 246 );

}

.dotted{
    color: #D0AB6F;
}
.filp-box-header{
    color: white;
}

body{
    background: #fcfcfc;
}

footer{
    background: #5A189A;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-container h2 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-container p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 .3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color 2s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #5A189A;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


@media screen and (max-width: 1000px) {
    .skills{
    
    }
}